# Idea files
/**/*.iml
/**/*.ipr
/**/*.iws
.idea/
services/.idea/

# Mac files
.DS_Store

# Gradle root files
.gradle/

# AWS related files
aws/
.ebignore
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Elastic Beanstalk configuration
services/src/main/resources/.ebextensions/env-var.config
services/src/main/resources/.ebextensions/https-instance-securitygroup.config
# Entornos AWS para test
services/src/test/resources/aws_*_test.properties

# Build and logs
logs/
build/
services/build/**
/**/libs/*.jar
/**/*.bat

# Configuración de entornos
terminal/

# SECURITY

# Basurilla
/**/trash.sql

