# Idea files
/**/*.iml
/**/*.ipr
/**/*.iws
.idea/

# Mac files
.DS_Store

# Gradle root files
.gradle/

# AWS related files

# Elastic Beanstalk configuration

# Build and logs
build/
/**/libs/*.jar
/**/*.bat

# Configuración de entornos
# terminal/

# SECURITY

# Basurilla

