# Idea files
/didekinlibs.iml
/**/*.ipr
/**/*.iws
.idea/

# Mac files
.DS_Store

# Gradle root files
.gradle/

# Build and logs
/**/build/
/**/out/

# Releases
/**/releases/

# Credentials
didekinlib_utilities/firebase_credential

# Design
design_blockchain/
